*{  margin: 0;
    box-sizing: border-box;
    padding:0;
    }
  
  body {
    background-color: whitesmoke;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  
  .card{
    margin:auto; 
    float:none; 
    margin-bottom:10px;          
  }
  
  input{
    margin:0.3rem;
    padding: 0.3rem;
  }
  

  p{
    font-family: 'Josefin Slab', serif;
  }
  
  h5{
    font-family: 'Open Sans', sans-serif;
  
  }
  
  /* desktop */

@media screen and (max-width: 40.5em) {
  .card {
width: auto;

  }
}

/* tablet */
@media screen and (min-width: 40.5em) {
  .card {
width: 80%;

  }
}